body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

[data-ui-component="slide-pagination"] {
    display: flex;
    justify-content: center;
}

[data-ui-component="slide-pagination"] li a {

    display: block;

    position: relative;

    width: 2.5rem;
    height: 2.5rem;

    background: silver;
    border-radius: 50%;

    overflow: hidden;

    text-indent: -999px;

    margin: .5rem;
}

[data-ui-component="slide-pagination"] li {

    opacity: .75;
    transform: scale( .75 );

    transition: opacity .4s, transform .4s;
}

[data-ui-component="slide-pagination"] li.is-active {

    opacity: 1;
    transform: scale( 1 );
}

[data-ui-component="slide-pagination"] li.is-active a,
[data-ui-component="slide-pagination"] li a:hover {
    transition: all .4s linear;
    box-shadow: 0px 0px 0px .25rem rgba(255, 136, 0, 0.75);
}

[data-ui-component="slide-pagination"] li.is-active a:before,
[data-ui-component="slide-pagination"] li a:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 136, 0, 0.25);
}

[data-ui-component="slide"] {
    overflow: hidden;
}

[data-ui-component="slide"]:hover {
    will-change: transform;
}

[data-ui-component="slide"] [data-ui-component="slide-list"] {
    display: flex;

    padding: 2rem;
}

[data-ui-component="slide"] [data-ui-component="slide-list"] [data-ui-component="slide-item"] {

    flex-shrink: 0;

    width: 80vw;
    max-width: 800px;

    border-radius: .15rem;
    overflow: hidden;

    opacity: .75;
    transform: scale( .75 );
    transition: .5s;

    margin: 0 2rem;
}

[data-ui-component="slide"] [data-ui-component="slide-list"] [data-ui-component="slide-item"].is-active {

    box-shadow: 0px 7px 23px -7px rgba(0,0,0,0.75);
    opacity: 1;    
    transform: scale( 1 );

}

nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

nav button {
    
    font-weight: bold;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;


    background: #fff;
    border: none;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    color: rgba(0,0,0,0.5);

    transition: box-shadow .4s, color .4s, background-color .4s;
}

nav button:hover {

    background: rgba(255, 136, 0, .75);    
    color: #fff;
}

nav button:active {
    box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.75);
}

nav button:first-child::after {

    content: '<';
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

nav button:last-child:after {

    content: '>';
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}